[Match]
Name=enp0s4

[Network]
Description=Provides Access to the Customers KernelCI network
Domains=cuskci.stw.pengutronix.de
DHCP=ipv4
LLMNR=no
MulticastDNS=no
UseDomains=no

[DHCPv4]
UseNTP=no
UseHostname=no
UseGateway=no

[IPv6AcceptRA]
UseGateway=no
